<article class="panel panel-default" id="<%= dom_id(list) %>">
  <div class="panel-heading"><%= list.name %></div>

  <ul class="list-group sortable" data-update-url="<%= sort_list_path(list) %>">
    <%= render list.items %>
  </ul>

  <div class="panel-footer">
    <%= form_for [list, Item.new], remote: true, html: { class: "form-inline", id: "#{dom_id(list)}_new_item_form" } do |f| %>
      <div class="form-group">
        <%= f.text_field :content, class: "form-control" %>
      </div>
      <%= f.submit "Add Item", name: nil, class: "btn btn-default btn" %>
    <% end %>

  </div>

  <div class="panel-footer">
    <button class="btn btn-danger" type="button">Delete completed</button>
  </div>

</article>
